@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar {
  transition: 300ms;
  width: 300px;
  min-width: 300px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.sidebar.hide {
  transition: 300ms;
  width: 100px;
  min-width: 100px;
}